* {
  box-sizing: border-box;
}

html,body{
  margin:0 auto;
  font-family:Arial;
  background-color:rgba(82, 66, 79, 0.336);
  position:relative;
  z-index:-2;
}
.container{
  display:flex;
  padding:10px;
}
.center{
  justify-content:center;
  align-items:center;
}

nav{
  display:flex;
  position:sticky !important;
  top:0;
  background-color:rgb(63, 123, 233);
  z-index:1000;
}
nav a{
  color:black;
  padding:10px;
  flex:1;
  text-decoration:none;
  text-align:center;
  position:relative;
  z-index:1000;
}
nav a:hover{
  background-color:rgb(153, 185, 245);
  color:white;
}
.subbanner{
  background-color:rgb(71, 71, 71);
}
.subbanner p{
  color:rgb(216, 215, 215);
}
#banner{
  background-color:#7a7a7a;
  color:white;
}
#banner h1{
  color:white;
}
#footer{
  background-color:rgb(237, 182, 100);
  color:black;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  display:flex;	
}
 
.marginated{
  margin: 10px;
  position:relative;
  z-index:1;
}

.antimargin{
	margin:-5px;
	padding: 5px;
}


a img{
  width:25px;
  height:25px;
}

.githubLink {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid #666;
  justify-content: space-between;
  align-items: center;
  padding:1rem;
  margin-bottom: 0.75rem;
  border-radius: 1rem;
}

.githubLink a {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.githubLink h3 {
  font-size:1rem;
}


.card a{
  text-decoration:none;
  background-color:rgb(63, 123, 233);
  color:white;
  border-radius:4px;
  padding: 6px;
  box-shadow:2px 2px 2px black;
  min-width:100px;
  position:relative;
  z-index:200;
}

.button{
  text-decoration:none;
  background-color:rgb(63, 123, 233);
  color:white;
  border-radius:4px;
  padding: 6px;
  box-shadow:2px 2px 2px black;
  min-width:100px;
  position:relative;
  z-index:2200;
}
.button:hover{
  background-color:cornflowerblue;
  cursor:pointer;
}
.card a:hover{
  background-color:cornflowerblue;
  cursor:pointer;
}

.card img{
  max-width:250px;
  max-height:300px;
}

.card h2, h3, h4{
  color:rgb(219, 219, 219);
}

.flex{
  display:flex;
  border-radius:2px;
}
#simpsons{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  position:relative;
  z-index:-10000;
}

#colored{
  color:#beb5ff;
  display:inline-block;
  background-color: black;
}

p{
  color:white;
}

h6{
  color:white;
}

li{
  color:white;
}
ul{
  list-style:none;
}

#root{
  width:100vw !important;
}


.nav{
  position:sticky;
  top:0;
  z-index:1184123;
}

.slideBtn{
  text-decoration:none;
  background-color:blue;
  color:white;
  padding:6px;
  box-shadow:2px 2px 2px black;
}

.slideBtn:hover{
  background-color:cornflowerblue;
  cursor:pointer;
}

.black{
  color:black;
}

.white{
  color:white;
}

.fade{
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
  to {
    opacity: 1;
    transform: scale(1);
  }

.slideWrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index:0;
}

.slideImg {
  width: 100%;
  border-radius: 3px;
  animation: fade 3s linear;
}
.slideImg img{
  position:relative;
  z-index: -1;
}


#bigdisplay{
  width:638px;
  height:825px;
}

#sixseven{
  position:relative;
  z-index:-1;
}

.card{
  flex:1;
  margin:10px;
  padding:10px;
  border:2px solid #666;
  text-align:center;
  max-width:500px;
  max-height:500px;
  background-color:#747474;
  border-radius:1rem;
  position:relative;
  z-index:-1;
}
[data-theme="dark"] {
  --bg: #4f46538a;
  --h1: white;
  --h2: white;
  --h3: white;
  --h4: white;
  --h5: white;
  --h6: white; 
  --text: white;
  --button: #333;
}

em{
  color:white;
}

#personal{
  display:flex;
}
.intrestscontainer{
  width:300px;
  flex:1;
  flex-direction:row;
  border:2px solid black;
  border-radius:1rem ;
  justify-content:center;
}